<div class="container">
<hr>
<hr>
<hr>
<hr>


    <table class="table table-borderless table-sm">
        <thead class="thead-dark">
            <tr class="row">
                <th class="col">Código</th>
                <th class="col">Nombre</th>
                <th class="col">Apellido</th>
                <th class="col">Nota</th>
                <th class="col">Observación</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="{reprobo: validarSiGana(estudiante.nota) == false,
                            aprobo: validarSiGana(estudiante.nota) == true }" class="row" 
                *ngFor="let estudiante of estudiantes">
                <th class="col">{{estudiante.codigo}}</th>
                <th class="col">{{estudiante.nombre}}</th>
                <th class="col">{{estudiante.apellido}}</th>
                <th class="col">{{estudiante.nota}}</th>
                <th class="text-success" *ngIf="validarSiGana(estudiante.nota) == true">Aprobó</th>
                <th class="text-warning" *ngIf="validarSiGana(estudiante.nota) == false">Reprobo</th>
             
            </tr>
        </tbody>
    </table>
</div>