<footer>


  <div class="container">
  <div class="row text-center">
      <div class="col text-center ">
        <p></p>
    <a id="diaSemana" class="alert alert-primary"></a>
    <a id="dia" class="alert alert-primary">de</a>
    <a class="alert alert-dark">de</a>
    <a id="mes" class="alert alert-primary"></a>
    <a class="alert alert-dark">del</a>
    <a id="year" class="alert alert-primary"></a>
    <hr>
   <div class="container">
    <a id="horas" class="alert alert-primary"></a>
    <a class="alert alert-dark">:</a>
    <a id="min" class="alert alert-primary"></a>
    <a class="alert alert-dark">:</a>
    <a id="seg" class="alert alert-primary"></a>
    <a id="ampm" class="alert alert-primary"></a>
   </div>
    <p></p>
  
    <hr>
 
  </div>
  </div>
</div>

</footer>

