<div class="container d-inline-block">
  <nav class="navbar navbar-light  fixed-top navBar">
    <div class="container">
      <a class="navbar-brand text ">Bienvenido a la APP de notas HTML5</a>
      <img src="../../../assets/html-5.svg" width="70" height="70" class="align-center">
      <a class="navbar-brand text">Práctica HTML5</a>
    </div>
  </nav>
</div>
